
.header-top-right{
    position: relative;
    right: 50px;
    justify-content: right;
    align-items: flex-start;
    float: right;
    top: 40px;
    align-items: center;
    
}
.header-bottom-right{
    position:absolute;
    bottom:10px;
    right: 0px;
    justify-content: flex-end;
    align-items: flex-end;
    float: right;
    text-align-last: bottom;
    top: 10px;
    display: flex;

    
    
    
}

ul{
   
    list-style-type: none;
    display: block;
    padding: 0%;
    margin: 0%;
    align-items: center;
    
}
li{

    color:rgb(252, 240, 240) ;
    float: left;
   
    text-align: center;
    border-radius: 70px;
    font-family: 60px;
    width: 150px;
    height: 50;
}
h1{
   
   position: relative;
   color: rgb(3, 3, 3);
   align-items: center;
   background-image: url('C:\\Users\\Lenovo\\OneDrive\\Desktop\\lap.png');
   width: 700px;
   height: 500px;
   top: 90px;
   background-size: cover;
   left: 70px;
   text-align: center;
   
   


   
    
    
}

h2:hover{
    background-color:rgb(248, 244, 244);
}
li:hover{
    background-color:rgb(238, 237, 242);
}

h2{
    color: rgb(7, 7, 7);
    float: left;
    font-family: 60px;
    width: 150px;
    bottom:0px;
    right:0px;
    border-radius: 80px;
    justify-content: flex-end;
    align-items: flex-end;
    

     
       
    



}
